[data-theme="light"] {
    --color-bg: #f4f1ee;
    --color-bg-light: #e8e4df;
    --color-text: #2a2a2a;
    --color-text-mid: #3a3a3a;   /* Warm light gray */
    --color-text-contrast: #f4f1ee;
    --brand-color: black;
}
