{% extends 'base.html.twig' %}

{% block nav %}
{% endblock %}

{% block body %}
    <h1>About Decent Newsroom</h1>
    <h2>Rebuilding Trust in Journalism</h2>

    <p>The internet, and especially social media, made news instant and abundant—but also cheap and unreliable. The value of simply reporting what happened and where has dropped to zero, buried under waves of misinformation, clickbait, and AI-generated noise. Worse, sorting truth from falsehood now costs more than spreading lies.</p>

    <p>Decent Newsroom is our answer to this crisis. We are building a curated, decentralized magazine featuring high-quality, long-form journalism published on Nostr.</p>

    <h2>How It Works</h2>
    <dl>
        <dt><strong>Curated Excellence</strong></dt>
        <dd>We showcase a selection of featured articles.</dd>

        <dt><strong>Indexed & Searchable</strong></dt>
        <dd>Every article in Decent Newsroom is easily discoverable, improving access for readers and exposure for authors.</dd>
        <dd>Simple search is available to logged-in users.</dd>
        <dd>Semantic search is in development.</dd>

        <dt><strong>Open to Writers & Publishers</strong> <span class="badge">Soon</span></dt>
        <dd>Content creators can request indexing for their work, making it searchable and eligible for inclusion.</dd>
    </dl>

    <h2>Why It Matters</h2>
    <p>The age of the newsroom isn’t over—it’s just evolving. We believe in bringing back editorial standards, collaboration, and high-value reporting in a decentralized way. Decent Newsroom is here to cut through the noise and rebuild trust in digital journalism.</p>

    <br>
    <p>To support us and get early access to the future of publishing, visit our crowdfunding page <a href="https://geyser.fund/project/newsroom" target="_blank">Geyser fund - Newsroom</a>.</p>

{% endblock %}
