{% extends 'base.html.twig' %}

{% block nav %}
{% endblock %}

{% block body %}
    <h1>Pricing</h1>

    <p>Choose a plan that fits your publishing needs.</p>

    <div class="price-list">
        <div class="card">
            <h3>Scoop Seeker</h3>
            <p class="price">Free</p>
            <ul class="features">
                <li>Read all the articles featured in the Newsroom magazine</li>
            </ul>
            <button disabled="disabled">Get Started</button>
        </div>

        <div class="card">
            <h3>Publisher</h3>
            <p class="price">5.000 sats/month</p>
            <ul class="features">
                <li>Submit indexing requests for priority indexing</li>
                <li>Access to built-in content editor</li>
                <li>Content search</li>
            </ul>
            <button disabled="disabled">Subscribe</button>
        </div>

        <div class="card">
            <h3>Curator</h3>
            <p class="price">15.000 sats/month</p>
            <ul class="features">
                <li>Create and manage your own magazines</li>
                <li>Advanced discovery tools</li>
                <li>Featured magazine placement</li>
            </ul>
            <button disabled="disabled">Subscribe</button>
        </div>
    </div>
{% endblock %}
