{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>{{ index.title }}</h1>
        <p>{{ index.summary }}</p>
        <br>

        <twig:IndexTabs :index="index" />

    </div>
{% endblock %}

{% block aside %}
{#  <p>TODO search & add to index</p> #}
{% endblock %}
