<div class="nostr-preview"
     data-controller="nostr-preview"
     data-nostr-preview-identifier-value="{{ preview.identifier }}"
     data-nostr-preview-type-value="{{ preview.type }}"
     data-nostr-preview-decoded-value="{{ preview.data|json_encode }}"
     data-nostr-preview-full-match-value="{{ preview.full_match }}">
    <div data-nostr-preview-target="container">
        <div class="text-center my-2">
            <div class="spinner-border spinner-border-sm text-secondary" role="status"></div>
            <span class="ms-2">Loading preview...</span>
        </div>
    </div>
</div>
