.article-main {
    margin-top: 30px;
}

.article-main h2, .article-main h3,
.article-main h4, .article-main h5, .article-main h6 {
    margin-top: 2em;
}

.article-main p,
.article-main ul,
.article-main ol,
.article-main blockquote,
.article-main table {
    font-family: var(--main-body-font), serif;
    color: var(--color-text-mid);
    font-size: 1.4rem;
    line-height: 1.75;
}

.article-main table {
    font-size: 1.3rem;
}

.article-main table th,
.article-main table td {
    border-bottom: 1px solid var(--color-text);
}

.byline {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 2rem 0;
    padding-top: 0.5rem;
    border-top: 1px solid var(--color-border);
    font-size: 1rem;
}

blockquote {
    border-left: 6px solid var(--color-bg-light);
    padding-left: 3px;
    margin: 50px 0 50px 3px;
}

blockquote p {
    font-size: 1.6rem;
    font-style: italic;
    color: var(--color-text-mid);
    padding-left: 30px;
}

.table-of-contents {
    border-left: var(--color-secondary) 6px solid;
    margin: 2em 0;
}

.table-of-contents li {
    list-style: none;
    margin-left: 0;
}

.heading-permalink {
    float: left;
    padding-right: 0;
    margin-left: -30px;
    line-height: 1.2;
    color: var(--color-secondary);
}

.heading-permalink:hover {
    text-decoration: none;
    font-weight: bold;
}

.embedded-content iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}
