<span>
    {% if author.display_name is defined and author.display_name is not empty %}
        {{ author.display_name }}
    {% elseif author.name is defined and author.name is not empty %}
        {{ author.name }}
    {% else %}
        {{ npub|shortenNpub }}
    {% endif %}
</span>
