<span>
    {% if author.displayName is not empty %}
        {{ author.displayName }}
    {% elseif author.name is not empty %}
        {{ author.name }}
    {% else %}
        {{ author.npub }}
    {% endif %}
</span>
