{% extends 'base.html.twig' %}

{% block nav %}
{% endblock %}

{% block body %}
    {# content #}

    {# replace list with featured #}
    <twig:Organisms:CardList :list="list" class="article-list"/>
{% endblock %}

{% block aside %}
{#    <h6>Magazines</h6>#}
{#    <twig:Organisms:ZineList />#}
{% endblock %}
