{% extends 'base.html.twig' %}

{% block nav %}
{% endblock %}

{% block body %}
    {# content #}
    {% for item in indices %}
        <twig:Organisms:FeaturedList :category="item" class="featured-list"/>
    {% endfor %}
{% endblock %}

{% block aside %}
{#    <h6>Magazines</h6>#}
{#    <twig:Organisms:ZineList />#}
{% endblock %}
