<div {{ attributes }}>
    {% for item in list %}
        {%  if item.slug is not empty %}
            <twig:Molecules:Card :article="item"></twig:Molecules:Card>
        {% endif %}
    {% endfor %}
</div>
