<div {{ attributes }}>
    {% for item in list %}
        <twig:Molecules:Card class="card" :article="item" tag="a" href="{{ path('article-slug', {slug: item.slug}) }}" ></twig:Molecules:Card>
    {% endfor %}
</div>
