<div {{ attributes }}>
    {% for item in nzines %}
        {% if item.npub in indices|keys %}
        {% set idx = indices[item.npub] %}
            {% if idx|length > 0 %}
            <a class="card" href="{{ path('nzine_view', { npub: item.npub })}}">
                <div class="card-body">
                    <h3 class="card-title">{{ idx.title }}</h3>
                    <p class="hidden">{{ idx.summary }}</p>
                </div>
            </a>
            <br>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
