<div {{ attributes.defaults(stimulus_controller('login')) }}>
    {% if app.user %}
        <p>Hello, {{ app.user.displayName }}</p>

        <twig:Atoms:Button tag="a"  href="/logout" data-action="live#$render">Log out</twig:Atoms:Button>
    {% else %}
        <twig:Atoms:Button {{ ...stimulus_action('login', 'loginAct') }}>Log in</twig:Atoms:Button>
    {% endif %}
</div>
