<div {{ attributes.defaults(stimulus_controller('login')) }}>
    {% if app.user %}
        <p>Hello, {{ app.user.displayName }}</p>

        <a class="btn btn-primary" href="/logout" data-action="live#$render">Log out</a>
    {% else %}
        <button class="btn btn-primary" {{ stimulus_action('login', 'loginAct') }}>Log in</button>
    {% endif %}
</div>
